/* About tab. */
.aboutTab{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 220px;
  width: 280px;
}

.pokemon-description{
  height: 35%;
  overflow-y: scroll;
}

/* Perent div containg the two divs for the placeholder. */
.weight-height-headlines,
.gender-probability-headlines{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* The div's with the  placeholder text : 
weight, height, male, and female. */
.weight-height-headlines div,
.gender-probability-headlines div{
  display: flex;
  justify-content: center;
  width: 45%;
  margin-bottom: 2%;
  color: grey;
}

/* The icons for the placeholder text. */
.weight-height-headlines i,
.gender-probability-headlines i{
  margin-right: 5%;
}

/* The perent divs containing the two divs with the results. */
.results-weight,
.results-gender{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* The divs with the results. */
.results-weight div,
.results-gender div{
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: center;

  border: 1px solid rgb(233, 233, 233);
  border-radius: 25px;
  height: 35px;

  box-shadow: inset 3px 3px 5px rgba(229, 229, 229, 0.792);
}

.results-weight div p,
.results-gender div p{
 font-size: 85%;

}

