/* Loader */
.loader-container{
  position: fixed;
  z-index: 120;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.193);
  display: none;
}

.loader-container img{
  width: 40px;
  animation: spin 1.3s ease infinite;
}

.loader-container p{
  margin-top: 10px;
  font-weight: bold;
}

@keyframes spin{
  to{
    transform: rotate(360deg)
  }
}